# 编译产物
*.o
*.o.*
*.a
*.s
*.ko
*.ko.*
*.mod
*.mod.c
*.mod.o
*.cmd
*.d
*.order
*.symvers
Module.symvers
modules.order
*.dtb
*.dtbo
*.elf
*.bin
*.gz
*.bz2
*.lzma
*.xz
*.lzo
*.lz4
*.zst
Image
Image.gz
vmlinux
System.map
.config.old
*.bak*
*.orig
*.rej

# 生成目录
include/config/
include/generated/
arch/*/include/generated/
scripts/basic/
scripts/kconfig/
scripts/mod/
scripts/dtc/
tools/
Documentation/output/

# 其他
.tmp_versions/
.cache.mk
.cocciconfig
.clang-format
.gitattributes
